#booking{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}
#booking>img{
    width: inherit;
    height: inherit;
}
#logan {
    color: white;
    font-size: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#name-info{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;
}
#first-name{
    padding:20px;

}
#last-name{
    padding:20px;
    padding-left: 60px;
}
.long1{
    width: 100%;
    height: 100px;
padding-left:55px;
}
.long2{
    width: 430px;
    height: 50px;
}
#check{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;    
}
#check-in{
    padding:20px;
}
#check-out{
    padding:20px;
    padding-left:65px;
}
#main{
    width: 100%;
    height: 700px;
    display:flex;
    justify-content:space-around;
    background-color: rgb(248, 249, 250);
}
#main1{
    height: 700px;
    width: 40%;
    font-size: 20px;
    background-color:rgb(255, 255, 255);
}
.short{
    height: 50px;    
}
#main2{
    height: 700px;
    width: 40%;
    font-size: 25px;
    background-color:rgb(255, 255, 255);
}
#main2>img{
    width: 90%;
    height: 400px;
    margin-bottom: 25px;
    padding-top: 20px;
}

#btn1{
    width: 245px;
    height: 60px;
    border: 2px solid rgb(255, 0, 0, 0.6);
    background-color: white;
    color: rgb(255, 0, 0, 0.6);
    font-size: 16px;
    outline: none;
    cursor: pointer;
}
#btn2{
    width: 245px;
    height: 60px;
    border: 2px solid rgb(255, 0, 0, 0.6);
    background-color: white;
    color: rgb(255, 0, 0, 0.6);
    font-size: 16px;
    outline: none;
    cursor: pointer;

}
#more-info{
    margin-top:50px;
}
#lorem{
    font-size: 20px;
    color:rgb(0,0,0,0.5);
    padding-top: 25px;
    padding-bottom: 25px;
}
