    #booking {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 700px;
    }
    
    #booking>img {
        width: inherit;
        height: inherit;
    }
    
    #logan {
        color: white;
        font-size: 40px;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: showtext 1s;
    }
    
    @keyframes showtext {
        0% {
            top: 450px;
            opacity: 0;
        }
        100% {
            top: 300px;
            opacity: 1;
        }
    }
    
    #logan>div {
        display: flex;
        font-size: 20px;
    }
    
    #logan>div>a {
        color: rgb(255, 0, 0, 0.6);
        padding: 15px;
    }
    
    #logan>div>p {
        padding: 15px;
    }
    /*main*/
    
    #main {
        display: flex;
        justify-content: center;
        background-color: rgb(248, 249, 250);
        padding: 80px 0px;
    }
    
    #main1 {
        width: 670px;
        height: 750px;
        padding: 48px;
        background-color: rgb(255, 255, 255);
        margin-right: 15px;
    }
    
    #main2 {
        width: 445px;
        height: 588px;
        padding: 24px;
        background-color: rgb(255, 255, 255);
        margin-left: 15px;
    }
    
    #main2>img {
        width: 397px;
        height: 265px;
        margin: 0px 0px 24px;
    }
    
    .short {
        width: 255px;
        height: 43px;
        outline: none;
        border: 1px solid rgb(0, 0, 0, 0.3);
        padding: 4px 8px;
    }
    
    #main1>div>div {
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        margin-bottom: 15px;
    }
    
    #div1 {
        display: flex;
        flex-wrap: wrap;
    }
    
    .select {
        width: 539px;
        height: 43px;
        padding: 6px 12px;
        margin-bottom: 15px;
        margin-top: 12px;
    }
    
    .div2 {
        padding: 0px 15px;
    }
    
    #div3 {
        padding: 0px 15px;
    }
    
    #div3>textarea {
        width: 539px;
        height: 143px;
        padding: 6px 12px;
        margin-top: 12px;
    }
    
    #btn1 {
        width: 92px;
        height: 44px;
        background-color: #EF6C57;
        color: white;
        padding: 8px 24px;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }
    
    #btn1:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
    }
    
    #btn {
        padding: 0px 15px;
        margin-top: 15px;
        font-size: 16px;
    }
    
    .label {
        margin: 0px 0px 5px;
        height: 27px;
        font-size: 20px;
    }
    
    .label2 {
        margin: 0px 0px 8px;
        font-size: 20px;
    }
    
    #main2>div>h4 {
        margin: 0px 0px 16px;
        font-size: 25px;
    }
    
    #btn3 {
        width: 140px;
        height: 44px;
        background-color: #EF6C57;
        color: white;
        padding: 8px 24px;
        outline: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }
    
    #div5 {
        margin: 0px 0px 16px;
    }
    
    #main2>div>p {
        margin: 0px 0px 16px;
        color: #4D4D4D;
        font: 20px;
        line-height: 25px;
    }
    
    #btn3:hover {
        background-color: white;
        color: black;
        border: 2px solid black;
    }